<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vedis</title>
    <link rel="stylesheet" href="/static/css/photon.min.css">

    <style>
    html, body {
      height:100%; /*both html and body*/
    }
    body {
      margin: 0; /*reset default margin*/
    }
    </style>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body data-gr-c-s-loaded="true" class="vsc-initialized">
    <script>
      window.$ = window.jQuery = require('jquery');
      window.Buffer = global.Buffer;
    </script>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
